<section class="side-scroll">
  <div class="side-scroll-wrapper">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'slide_1' %}
          <div class="ss-item slide_1">
            <div class="container-fluid">
              <div class="ss-item-in">
                <div class="left">
                  <div class="head">
                    <div class="logo">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0808/9639/3409/files/Group_7.svg?v=1758698597"
                        alt="Pitara Brand Icon"
                        class="icons">
                    </div>
                    <h2>{{ block.settings.head }}</h2>
                  </div>
                  <div class="text">
                    {{ block.settings.text }}
                  </div>
                  <div class="stamp">
                    <img
                      src="{{ section.settings.stamp |  img_url: 'master' }}"
                      alt="Pitara Stamp"
                      class="icons">
                  </div>
                </div>
                <div class="right">
                    <div class="ss_img1_wrap">
                        <div class="ss_img1 pos-rel">
                            <img
                            src="{{ block.settings.image |  img_url: 'master' }}"
                            alt="Pitara Owner"
                            class="img ab">
                        </div>
                        <div class="ss_img1_txt">
                            <p>{{ block.settings.img_loc }}</p>
                            <p>{{ block.settings.img_time }}</p>
                        </div>
                    </div>
                  {% comment %} <div class="keyhole">
                    <img
                      src="{{ section.settings.keyhole |  img_url: 'master' }}"
                      alt="Pitara Keyhole Icon"
                      class="icons">
                  </div>
                  <div class="key">
                    <img
                      src="{{ section.settings.key |  img_url: 'master' }}"
                      alt="Pitara Keyhole Icon"
                      class="icons"> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% else %}
        {% endcase %}
      {% endfor %}
    </div>
  </section>

  {% schema %}
    {
      "name": "Side Scroll Section",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Add Video"
        }, {
          "type": "image_picker",
          "id": "stamp",
          "label": "Add your stamp"
        }, {
          "type": "image_picker",
          "id": "key",
          "label": "Add key icon"
        }, {
          "type": "image_picker",
          "id": "keyhole",
          "label": "Add keyhole icon"
        }
      ],
      "blocks": [
        {
          "name": "Slide 1",
          "type": "slide_1",
          "limit": 1,
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Add Image"
            },
            {
              "type": "textarea",
              "id": "head",
              "label": "Heading"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Content"
            },
            {
              "type": "text",
              "id": "img_loc",
              "label": "Add Image Label"
            }, {
              "type": "text",
              "id": "img_time",
              "label": "Add Image Label"
            }
          ]
        }
      ]
    }
  {% endschema %}